<a href="https://colab.research.google.com/github/Soledad1988/AnalisisRRHH/blob/main/RRHH.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
#Pandas es la librería básica para la manipulación y análisis de datos
import pandas as pd

In [6]:
# Carga el dataset archivo CSV en este caso)
datos = pd.read_excel('/content/drive/MyDrive/Datasets/RRHH.xlsx')

In [7]:
# Muestra las primeras filas para ver una vista general
datos.head()

,Employee ID,DOB,Emp Age,Surname,Name,Gender,Marital Status,Branch,Hire Date,Leave Date,Leave Reason,Status,Department,Employee Satisfaction,Annual Salary ($),Bonus ($),Job Title,Performance
0,10005,1953-10-28,69,Jackson,Noelia,F,Single,Buenos Aires,2017-04-13,NaT,Not provided,Active,Production,3,43241,4757,Production Technician I,Fully Meets
1,10007,1953-04-28,69,Carey,Rodrigo,M,Single,Lima,2014-02-04,NaT,Not provided,Active,Production,3,51009,7141,Production Technician I,Fully Meets
2,10009,1968-02-06,55,Chan,Lucas,M,Single,Buenos Aires,2014-02-09,NaT,Not provided,Active,Production,4,42034,6305,Production Technician I,Fully Meets
3,10015,1983-11-10,39,Ferreira,Daiana,F,Single,Lima,2014-05-02,NaT,Not provided,Active,Production,4,44391,2663,Production Technician I,Fully Meets
4,10040,1961-05-01,61,Bernstein,Ruben,M,Single,Lima,2014-10-07,NaT,Not provided,Active,Production,3,43361,8239,Production Technician I,Fully Meets

In [8]:
# Información general sobre las columnas y tipos de datos
datos.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 694 entries, 0 to 693
Data columns (total 18 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Employee ID            694 non-null    int64
 1   DOB                    694 non-null    datetime64[ns]
 2   Emp Age                694 non-null    int64
 3   Surname                694 non-null    object
 4   Name                   694 non-null    object
 5   Gender                 694 non-null    object
 6   Marital Status         694 non-null    object
 7   Branch                 694 non-null    object
 8   Hire Date              694 non-null    datetime64[ns]
 9   Leave Date             102 non-null    datetime64[ns]
 10  Leave Reason           694 non-null    object
 11  Status                 694 non-null    object
 12  Department             694 non-null    object
 13  Employee Satisfaction  694 non-null    int64
 14  Annual Salary ($)      694 non-null    int64
 15  Bonus ($)              694 non-null    int64
 16  Job Title              694 non-null    object
 17  Performance            694 non-null    object
dtypes: datetime64[ns](3), int64(5), object(10)
memory usage: 97.7+ KB

In [9]:
# Resumen estadístico para las columnas numéricas
datos.describe()

,Employee ID,DOB,Emp Age,Hire Date,Leave Date,Employee Satisfaction,Annual Salary ($),Bonus ($)
count,694.000000,694,694.000000,694,102,694.000000,694.000000,694.000000
mean,10146.106628,1971-09-27 04:13:08.472622480,50.936599,2016-10-27 18:36:18.674351616,2018-10-18 12:00:00,3.861671,70539.806916,9871.144092
min,10000.000000,1951-01-10 00:00:00,30.000000,2014-01-02 00:00:00,2017-01-01 00:00:00,1.000000,30178.000000,0.000000
25%,10076.000000,1960-03-27 00:00:00,41.000000,2015-05-16 06:00:00,2017-12-08 18:00:00,3.000000,53481.250000,4899.000000
50%,10144.000000,1972-02-21 00:00:00,51.000000,2016-10-23 00:00:00,2018-12-27 00:00:00,4.000000,65718.000000,7393.000000
75%,10210.750000,1981-12-08 00:00:00,62.000000,2018-02-20 00:00:00,2019-08-22 00:00:00,5.000000,82014.250000,10694.000000
max,10309.000000,1992-12-13 00:00:00,72.000000,2019-12-30 00:00:00,2019-12-25 00:00:00,5.000000,217399.000000,104928.000000
std,86.123540,NaN,12.288101,NaN,NaN,0.937222,24975.634979,12403.553016

In [10]:
# Verificar valores nulos
datos.isnull().sum()

Employee ID                0
DOB                        0
Emp Age                    0
Surname                    0
Name                       0
Gender                     0
Marital Status             0
Branch                     0
Hire Date                  0
Leave Date               592
Leave Reason               0
Status                     0
Department                 0
Employee Satisfaction      0
Annual Salary ($)          0
Bonus ($)                  0
Job Title                  0
Performance                0
dtype: int64